<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FoodSource</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Footer-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Navigation-Clean.css') }}">

</head>

<body>
    <!-- INCLUDE NAVBAR -->
    {% include 'components/navbar.html' %}
    <!-- END INCLUDE NAVBAR -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color: var(--bs-red);font-size: 30px;font-family: Montserrat, sans-serif;text-align: center;padding: 10px;">find food now.</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-top: 10px;">
                <div class="card-group" id="card-group">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- INCLUDE FOOTER -->
            {% include 'components/footer.html' %}
            <!-- END INCLUDE FOOTER -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        var posts = {{ posts|tojson }};
    </script>
    <script src="{{url_for('static', filename='js/consumer.js')}}"></script>
</body>

</html>