<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>distributorpage2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean" style="background: var(--bs-red);">
        <div class="container"><a class="navbar-brand" href="#" style="color: var(--bs-white);font-size: 28px;font-family: Montserrat, sans-serif;">&nbsp; &nbsp;FoodSource.</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><span style="color: var(--bs-white);font-family: Montserrat, sans-serif;">No one should go hungry.</span>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: var(--bs-white);font-family: Montserrat, sans-serif;">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: var(--bs-white);font-family: Montserrat, sans-serif;">Contact Us</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: var(--bs-white);font-family: Montserrat, sans-serif;">Home</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-2" style="padding-top: 13px;">
                <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background: var(--bs-red);">your upcoming events</button></div>
            </div>
            <div class="col-md-6">
                <h1 style="color: var(--bs-red);font-family: Montserrat, sans-serif;font-size: 30px;padding: 25px;text-align: left;">available events</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-top: 10px;">
                <div class="card-group">
                    <div class="card"><img class="card-img-top w-100 d-block">
                        <div class="card-body">
                            <h4 class="card-title" style="font-family: Montserrat, sans-serif;"><strong>event title</strong></h4>
                            <p class="card-text" style="font-family: Montserrat, sans-serif;">event name, what food, address, date and time to pick up, common allergens (if any), estimation of quantity of food, contact info (phone number)</p><button class="btn btn-primary" type="button" style="font-family: Montserrat, sans-serif;">accept event</button>
                        </div>
                    </div>
                    <div class="card"><img class="card-img-top w-100 d-block">
                        <div class="card-body">
                            <h4 class="card-title" style="font-family: Montserrat, sans-serif;font-weight: bold;">event title</h4>
                            <p class="card-text" style="font-family: Montserrat, sans-serif;">event name, what food, address, date and time to pick up, common allergens (if any), estimation of quantity of food, contact info (phone number)<br></p><button class="btn btn-primary" type="button" style="font-family: Montserrat, sans-serif;">accept event</button>
                        </div>
                    </div>
                    <div class="card"><img class="card-img-top w-100 d-block">
                        <div class="card-body">
                            <h4 class="card-title" style="font-family: Montserrat, sans-serif;font-weight: bold;">event title</h4>
                            <p class="card-text" style="font-family: Montserrat, sans-serif;">event name, what food, address, date and time to pick up, common allergens (if any), estimation of quantity of food, contact info (phone number)<br></p><button class="btn btn-primary" type="button" style="font-family: Montserrat, sans-serif;">accept event</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="padding-top: 10px;">
                <div class="card-group">
                    <div class="card"><img class="card-img-top w-100 d-block">
                        <div class="card-body">
                            <h4 class="card-title" style="font-family: Montserrat, sans-serif;"><strong>event title</strong></h4>
                            <p class="card-text" style="font-family: Montserrat, sans-serif;">event name, what food, address, date and time to pick up, common allergens (if any), estimation of quantity of food, contact info (phone number)</p><button class="btn btn-primary" type="button" style="font-family: Montserrat, sans-serif;">accept event</button>
                        </div>
                    </div>
                    <div class="card"><img class="card-img-top w-100 d-block">
                        <div class="card-body">
                            <h4 class="card-title" style="font-family: Montserrat, sans-serif;font-weight: bold;">event title</h4>
                            <p class="card-text" style="font-family: Montserrat, sans-serif;">event name, what food, address, date and time to pick up, common allergens (if any), estimation of quantity of food, contact info (phone number)<br></p><button class="btn btn-primary" type="button" style="font-family: Montserrat, sans-serif;">accept event</button>
                        </div>
                    </div>
                    <div class="card"><img class="card-img-top w-100 d-block">
                        <div class="card-body">
                            <h4 class="card-title" style="font-family: Montserrat, sans-serif;font-weight: bold;">event title</h4>
                            <p class="card-text" style="font-family: Montserrat, sans-serif;">event name, what food, address, date and time to pick up, common allergens (if any), estimation of quantity of food, contact info (phone number)<br></p><button class="btn btn-primary" type="button" style="font-family: Montserrat, sans-serif;">accept event</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>