<footer class="footer-clean" style="padding: 221px 0px;height: 434.385px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 item" style="font-family: Montserrat, sans-serif;color: var(--bs-red);">
                <h3 style="font-family: Montserrat, sans-serif;">Home</h3>
                <ul>
                    <li><a href="/consumer/">consumer</a></li>
                    <li><a href="/distributor/">distributor</a></li>
                    <li><a href="/event/">event host</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item" style="color: var(--bs-red);">
                <h3 style="font-family: Montserrat, sans-serif;">About</h3>
                <ul>
                    <li><a href="/who_we_are/" style="font-family: Montserrat, sans-serif;">who we are</a></li>
                    <li style="font-family: Montserrat, sans-serif;"><a href="/our_mission/">our mission</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item" style="color: var(--bs-red);font-family: Montserrat, sans-serif;">
                <h3 style="font-family: Montserrat, sans-serif;">Contact Us</h3>
                <ul>
                    <li><a href="#">email us</a></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-lg-3 item social"><a href="#" style="color: var(--bs-red);"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter" style="color: var(--bs-red);"></i></a><a href="#" style="color: var(--bs-red);"><i class="icon ion-social-snapchat"></i></a><a href="#" style="color: var(--bs-red);"><i class="icon ion-social-instagram"></i></a>
                <p class="copyright" style="font-family: Montserrat, sans-serif;color: var(--bs-red);">FoodSource © 2022</p>
            </div>
        </div>
    </div>
</footer>